* {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


body {
	background-color: #f3f3f3;
}

#navigationBar {
	position: relative;
	margin-left: 80px;
	top: 8px;
	left: 160px;
	width: auto;
	height: auto;
	
}


#navigationBar li {
	display: inline;
	list-style-type: none;
}

#navigationBar li button {
	width: auto;
}

