@import url("common.css");

#createAndBuildTestsDiv {
	position: relative;
	top: 15px;
	left: 0px;
	float: left;
	width: 560px;
	height: auto;
	min-width: 560px;
	//border-right: 5px solid #5c5f79;
	text-indent: 7px;
}

#modelResults {
	position: absolute;
	top: 80px;
	left: 580px;
	width: 48%;
	min-width: 470px;
	height: 770px;
	overflow-y: scroll;
	background-attachment: fixed;
}

.modelTable {
	position:relative;
	float: left;
	border: 1px solid #5c5f79;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}

button {
	height: 30px;
}

.testModel tr td button {
	margin-left: 5px;
	margin-right: 5px;
}

select {
	width: 100px;
}

#selectModeledTestDiv, #createTest, #testModelingDiv {
	position: relative;
	padding: 5px;
}

#selectModeledTestDiv{
	top: 10px;
	height: 120px;
	width: 160px;
}

#createTest{
	margin-top: 50px;
	height: auto;
	width: 545px;	
}

#createTest input {
	display: block;
	height: 25px;
	margin: 3px;
	font: 18px "Times New Roman", Times, serif;
}



#createTest label {
	color: #6c6c6c;
	font-size: 13px;
}

#testModelingDiv{
	margin-top: 50px;
	height: 455px;
}

#progressBar {
	visibility: hidden;
	background: url(../images/ajax-loader.gif) no-repeat;
	position: absolute;
	top: 210px;
	left: 85px;
	width: 215px;
	height: 20px;
}


#createdTestResults:before {
	content:  "Result:";
}

#createdTestResults {
	display: none;
	margin: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #cecece;
	width: 450px;
	height: 120px;
	color: #454545;
}

#createdTestResults p {
	font-family: "Times New Roman", serif;
}

.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/buttons.png) no-repeat;
}
.dec {
  background-position: 0 -29px;
}

.buttons {
  padding: 20px 0 0 140px;
}

#newTestModelTable td{
	width: auto;
}

#newTestModelTable td input {
	margin-left: 5px;
	height: 25px;
	width: 30px;
	text-align: center;
}

#newTestModelName {
	min-width: 130px;	
	text-align: left;
}

